.player-container {
  color: #2a303c;
  background-color: #fff;
  height:92vh;
  transition: all 500ms ease-in;
  .album-art {
    margin: 40px 0;
    .imgcontainer{
      transition: all 500ms ease-in;
      background-color: #333;
      height:51vh;
      background-repeat: no-repeat, no-repeat;
      background-size: 110% auto, 100%;
      background-position: bottom, center;
    }
  }
  .track-detail {
    transition: all 500ms ease-in;
    margin: 20px 0;
    .track-title {
      font-weight: bold;
    }
    .artist {
      color: $secondary-font-color;
    }
  }
  .player-controls {
    transition: all 500ms ease-in;
    margin: 40px 0;
    font-size: 20px;
    span {
      padding: 20px;
      &.play {
        -webkit-box-shadow: 0 8px 31px 1px rgba(0, 0, 0, 0.16);
        -moz-box-shadow: 0 8px 31px 1px rgba(0, 0, 0, 0.16);
        box-shadow: 0 8px 31px 1px rgba(0, 0, 0, 0.16);
        border-radius: 50%;
      }
    }
  }
  .track-scrubber {
    margin: 20px 0;
  }
}
